@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
header li {
  list-style-type: none;
}
header a {
  text-decoration: none;
  color: black !important;
}

header .topbar {
  background-color: black;
  color: var(--primary);
}

.nav_mobile {
  position: fixed;
  width: 180px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  z-index: 10;
}

.navbar-logo {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e8f0;
}

.nav_mobile-list li{
  font-size: 17px;
  padding: 5px 20px;
}

.nav_mobile-list li:hover {
  background: #dce0e4;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 38px;
}

.nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-btn {
  font-size: 30px;
  float: right;
}

header .logo a {
  color: var(--primary) !important;
  font-family: "Italiana", sans-serif;
  font-size: 2.5rem;
}

header .list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .list-control {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

header .list-control .bi {
  margin-right: 1rem;
  font-size: 1.3rem;
}

header .menu .list-control .input-group {
  border: 1px solid black;
  border-radius: 2rem;
}
header .menu .list-control .input-group button {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  padding-left: 0.5rem;
}
header .menu .list-control .input-group input {
  width: 50%;
  border: none;
  padding: 0rem;
  padding-right: 1rem;
  border-radius: 2rem;
  box-shadow: none;
}
header .menu .list-control .items-control {
  width: max-content;
  display: flex;
  justify-content: flex-end;
}
header .menu .list-control .items-control:not(.has-input) i {
  font-size: 1.8rem;
}
header .menu .list-control .items-control:not(.has-input) {
  gap: 1rem;
}
header .menu .list-control .items-control a {
  position: relative;
}

header .menu .list-control .items-control.has-input {
  width: 50%;
}
header
  .menu
  .list-control
  .items-control:not(.has-input)
  .account:hover
  .dropdown-acount {
  display: block;
}
header .account {
  position: relative;
  font-weight: bold;
  font-family: "Oswald", sans-serif;

  cursor: pointer;
}
header .account .info {
  font-weight: bold;
  font-family: "Oswald", sans-serif !important;
  color: black !important;
  border-radius: unset;
}
.infoModal .infoDetail .name button {
  background-color: unset;
  border: none;
  margin-left: 1rem;
}
.infoModal .infoDetail .name input {
  margin-left: 1rem;
  display: none;
}
.infoModal .infoDetail .name input.show {
  display: block;
}
.infoModal .infoDetail .name .edit.show {
  display: none;
}
.infoModal .infoDetail .name .save {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0 0.5rem;
  display: none;
}
.infoModal .infoDetail .name .save.show {
  display: block;
}
header .account .info:hover {
  opacity: 0.8 !important;
  background-color: #cdcdcd !important;
}
.dropdown-acount {
  position: absolute;
  width: max-content;
  display: none;
  top: calc(100% + 2rem);
  background-color: white;
  right: -1rem;
  z-index: 999;
  text-align: right;
}
.dropdown-acount::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  height: 2rem;
  transform: translateY(-100%);
  background-color: transparent;
  right: 0;
}
.dropdown-acount a {
  display: block;
  padding: 1rem;
}
.dropdown-acount a:hover,
.dropdown-acount button:hover {
  opacity: 0.8;
  background-color: #cdcdcd;
}
.dropdown-acount button {
  width: 100%;
  border: none;
  text-align: right;
  background: transparent;
  padding: 1rem;
}
@media screen and (max-width: 991px) {
  header .logo a {
    font-size: 1.9rem;
  }
  header .menu .list-control .items-control.has-input {
    width: 100%;
  }
}

/* Animation */

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
