.dashboard .box {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dashboard .box .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.dashboard .box .info {
  font-size: 1.5rem;
  color: var(--primary);
}
.custom-tooltip {
  padding: 0.5rem;
}

.seller .img-wrap {
  margin-right: 1rem;
  width: 15%;
  padding-top: 15%;
}
