@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Oswald:wght@200;500;700&family=Roboto:wght@100;300&display=swap');

:root{
    --primary: #F49742;
}
html, body, #root{height:100%;}
body{height:100vh;}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}
.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
}