.product .info .name {
  font-size: 1.8rem;
  font-weight: bold;
}
.product .info .review {
  margin: 1rem 0;
}

.product .info .review .icon {
  margin-right: 0.5rem;
}
.product .info .review .icon i {
  color: #fece23;
}
.product .previewImg {
  display: flex;
  flex-direction: column-reverse;
}
.product .previewImg .tab-content {
  margin-bottom: 1rem;
}
.product .previewImg .tab-content .img-wrap {
  display: block;
}
.product .previewImg .nav-tabs .nav-item {
  width: calc(20% - 1rem);
}
.product .previewImg .nav-tabs {
  justify-content: space-between;
  border: none;
  gap: 1rem;
}
.product .previewImg .nav-tabs button {
  border: none;
  padding: 0;
}
.product .previewImg .nav-tabs button.active img {
  opacity: 1;
}
.product .previewImg .nav-tabs button img {
  aspect-ratio: 1;
  border-radius: 5px;
  opacity: 0.6;
}

.product .info .price .current-price {
  color: #81e0e4;
  font-size: 2rem;
  margin-right: 0.5rem;
}
.product .info .price .old-price {
  text-decoration: line-through;
}
.product .info .size .nav-tabs li {
  width: 20%;
}
.product .info .size button {
  border: none;
  border: 1px solid #e6e3e3;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  color: black;
  font-weight: bold;
}
.product .info .size button.active {
  border: 1px solid black;
}
.product .info .size .nav-tabs {
  border: none;
  gap: 1rem;
}
.product .info .size .price {
  color: var(--primary);
  font-size: 1.5rem;
}
.product .info .policy {
  margin: 1.5rem 0;
}
.product .info .policy span,
.product .info .size span {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.product .info .policy ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.product .info .policy ul {
  padding: 0;
  list-style-type: none;
}
.product .info .controls {
  width: 55%;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.product .info .controls .btn {
  padding: 0.5rem;
  font-weight: bold;
}
.product .info .controls .buy {
  background-color: var(--color-primary);
  color: white;
  width: 100%;
  display: block;
}
.product .info .controls .cart {
  width: calc(80% - 0.25rem);
  background-color: black;
  color: white;
}
.product .info .controls .like {
  width: calc(20% - 0.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #666666;
  color: black;
}
.product .info .controls .like i {
  line-height: 0;
}
.product .info .policy ul li i {
  margin-right: 4px;
}

.product .description .item {
  margin-bottom: 30px;
}
.product .description .item:nth-child(even) {
  flex-direction: row-reverse;
}
.product .description .item .content .title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.product .description .item .img-wrap {
  padding-top: 70%;
}
.product .description .item .content p {
  color: var(--text-color);
  margin-top: 1rem;
}
@media screen and (max-width: 991px) {
  .product .info {
    margin: 1rem 0;
  }
  .product .info .review .icon i {
    font-size: 1.5rem;
  }
  .product .info .policy span {
    font-size: 1.2rem;
  }
  .product .info .controls .btn {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .product .info .controls {
    width: 100%;
  }
  .product .description .item .content {
    margin-top: 1rem;
  }
}
